@font-face {
    font-family: 'Mermaid';
    src: url('../fonts/Mermaid-Bold.woff2') format('woff2'),
        url('../fonts/Mermaid-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

