@font-face {
    font-family: "Mermaid";
    src: url("../../assets/fonts/Mermaid1001.ttf") format('ttf');
}

a{
    text-decoration: none !important;
    color: #000;
}
.title-page-nous-trouver{
    font-size: 50px;
}
.show{
    display: block;
    background-color: #F8F8F8;
}
.container-nous-trouver{
    width: calc(100% - 80px);
    margin: 56px auto 0;
}
.container-nous-trouver h1{
    margin-bottom: 30px;
}
.accordion{
    padding-bottom: 70px;
    border-bottom: 1px solid #000;
    margin: auto;
}
.accordion-item{
    border: none !important;
    border-bottom: 1px solid #FFF;
    margin-bottom: 50px;
}
.accordion-item h1{
    padding: 31px 28px;
    margin: 0;
}
.accordion-item h1:has(button[aria-expanded=true]){
    background-color: #F8F8F8;

}
.accordion-item h1 button{
    font-size: 30px;
    border-bottom: 1px solid #000;
    padding: 0 0 30px 0;
}
.accordion-item h1 button[aria-expanded=true]{
    background-color: #F8F8F8;
}
.title-expanded{
    background-color: #F8F8F8;
}
.accordion-button{
    font-family: "Mermaid", serif;
    font-weight: bold;
}
.accordion-button:not(.collapsed){
    color: #000 !important;
}
.accordion-button:not(.collapsed)::after{
    color: #000 !important;
}
.accordion-button.collapsed{
    border-radius: 0 !important;
}
.accordion-button:focus{
    box-shadow: none !important;
    border-color: #000 !important;
}
.accordion-body.row{
    width: 100%;
    margin: auto;
}
.card-lieux{
    margin-bottom: 50px;
}
.card-lieux p{
    margin: 0;
    font-size: 20px;
    color: #000;
}
.card-lieux .title-lieux{
    font-size: 25px;
    margin-bottom: 22px;
    font-family: "Mermaid", serif;
    font-weight: 600;
    color: #000;
}
.address-container-lieux, .tel-container-lieux{
    margin-bottom: 10px;
}
.tel-container-lieux a {
    color: #000 !important;
}

@media screen and (max-width: 767px) {
    .title-page-nous-trouver{
        font-size: 25px;
    }
    .container-nous-trouver{
        width: calc(100% - 40px);
    }
    .accordion{
        width: 100%;
    }
    .accordion-body{
        height: initial;
    }
    .card-lieux{
        margin-bottom: 22px;
    }
    .card-lieux p{
        font-size: 13px;
    }
    .card-lieux .title-lieux{
        margin-bottom: 16px;
        font-size: 14px;
    }
    .accordion{
        padding-bottom: 60px;
    }
    .accordion-item{
        margin-bottom: 22px;
    }
    .accordion-item h1{
        padding-bottom: 0;
    }
    .accordion-item h1 button{
        font-size: 15px;
        padding-bottom: 19px;
    }
}